<style>
.embedded-page-header{background: #2f343f;color: #fafafa;display: flex;flex-wrap: wrap;align-items: baseline;font-size: 15px;padding: 15px}
.embedded-page-header .notification{margin-left: 30px;}
.embedded-page-header .home{margin-left: 30px;display: block;font-weight: bold;color: #1f69c0}
.embedded-page-header .back{display:block;margin-left: 30px;font-weight: bold;color: #1f69c0}
</style>
<div class="embedded-page-header">
    <p class="notification">Внимание! Вы находитесь на сайте slavakievsky.github.io в режиме просмотра кейса по верстке.</p>
    <a href="/" class="home">Домой</a>
    <a href="javascript:history.back();" class="back">Назад</a>
</div>