<footer class="footer">
    <div class="footer__head">
        <div class="footer__advertisment">Хочешь такой же прикольный сайт? Есть бомбическая идея? Пиши мне!</div>
        <div class="footer__copyright">
            © since {{ "now" | date: "%Y"}} <address>Pushkarev Svyatoslav</address> <address>push2001sla@gmail.com</address>
            Source code and original materials are under the MIT license
        </div>
    </div>
    <div class="footer__game">
        <canvas class="game__canvas" id="footergamecanvas0" width="944" height="350"></canvas>
        <script async>
            {%- include js-footer-game.js -%}
        </script>
    </div>
    <div class="footer__socials">
        {%- for link in site.data.social.social_links -%}
        <a href="{{link.url}}"><img src="{{link.img}}" alt="{{link.text}}"></a>
        {%- endfor -%}
    </div>
</footer>