    <a href="{{site.url}}{{site.baseurl}}pets" class="activity activity__head activity__head_clickable">Последние ништячки</a>
    {%- assign latest = site.cases | concat: site.pets | sort: 'date' | reverse | slice: 0,3 -%}
    {%- for ent in latest -%}
        <a class="activity activity__entry" href="{{ent.url}}">
            <div class="entry__title">{{ent.title}}</div>
            <img src="{{ent.preview}}" alt="" class="entry__img">
        </a>
    {%- endfor -%}
    <a href="{{site.data.social.social_links[1].url}}" class="activity activity__head activity__head_clickable">Над чем я работаю</a>
    <div class="activity activity__entry" id="gitactivity0"></div>
    <div class="activity activity__entry" id="gitactivity1"></div>
    <div class="activity activity__entry" id="gitactivity2"></div>
    {%- include js-latest-git-commits.js -%}