<div class="activity__container">
    <a href="{{site.url}}{{site.baseurl}}/pets" class="activity activity__head activity__head_clickable">Последние ништячки</a>
    {%- assign latest = site.cases | concat: site.pets | sort: 'date' | reverse | slice: 0,3 -%}
    <div class="entry__container">
        {%- for ent in latest -%}
            <a class="activity activity__entry" href="{{ent.url}}">
                <div class="entry__title">{{ent.title}}</div>
                <img src="{{ent.image}}" alt="" class="entry__img">
            </a>
        {%- endfor -%}
    </div>
    <a href="{{site.data.social.social_links[1].url}}" class="activity activity__head activity__head_clickable">Над чем я работаю</a>
    <div class="entry__container container_touch-uncollapsible">
        <div id="gitactivity0"></div>
        <div id="gitactivity1"></div>
        <div id="gitactivity2"></div>
    </div>
    {%- include js-latest-git-commits.js -%}
</div>