{%- for post in paginator.posts -%}
    {%- include post-preview.html -%}
{%- endfor -%}
{%- if paginator.total_pages > 0 -%}
<section class="paginator">
    {%- if paginator.previous_page -%}
    <a class="paginator__entry paginator__entry_prev"
       href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Сюда</a>
    {%- else -%}
    <span class="paginator__entry paginator__entry_prev paginator__entry_prev_unavailable">Сюда</span>
    {%- endif -%}
    {%- assign start = paginator.page | minus: 2 -%}
    {%- assign end = paginator.page | plus: 2 -%}
    <nav class="paginator__entries">
    {%- if start > 2 -%}
        {%- assign nstart = start | minus: 1 -%}
        <a class="paginator__entry"
               href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', nstart }}">...</a>
    {%- elsif start == 2 -%}
        <a class="paginator__entry"
               href="{{site.baseurl}}">...</a>
    {%- endif -%}
    {%- for page in (start..end) -%}
        {%- if page > 0 and page <= paginator.total_pages -%}
            {%- if page == paginator.page -%}
            <span class="paginator__entry paginator__entry_active">{{ page }}</span>
            {%- elsif page == 1 -%}
            <a class="paginator__entry" href="/">{{ page }}</a>
            {%- else -%}
            <a class="paginator__entry"
               href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
                }}</a>
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if end < paginator.total_pages -%}
        {%- assign nend = end | plus: 1 -%}
        <a class="paginator__entry"
               href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', nend }}">...</a>
    {%- endif -%}
    </nav>
    {%- if paginator.next_page -%}
    <a class="paginator__entry paginator__entry_next"
       href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Туда</a>
    {%- else -%}
    <span class="paginator__entry paginator__entry_next paginator__entry_next_unavailable">Туда</span>
    {%- endif -%}
</section>
{%- endif -%}