$text__color: #000
$text__color_white: #fff
$text__color_accent: #E93B3B
$text__color_accentable: #F4AFAF
$text__color_clickable: #182069
$text__color_link: #1ABDE0
$text__color_dark: #000C38
$text__color_blue: #6485A3
$text__color_head1: #346899
$text__color_head_post: #346899

$code__color_background: #2f343f
$code__color_text: #c6c6c6
$code__text_size: 1.6rem
$code__text_font: "Roboto", sans-serif

$text__size_html: 67%
$text__size_html_touchscreen: 120%
$text__size_base: 1.7rem
$text__size_nav: 2rem
$text__size_big: 2.5rem
$text__size_big_touchscreen: 3.2rem
$text__size_description: 1.5rem
$text__size_copyright: 1.2rem
$text__size_head: 2rem

$background__color: #FAFAFA
$background__color_foreground: #FFF
$background__color_dark: #5E6177

$border__color_grey: #E2E2E2
$border__color_grey_real: #a0a0a0
$border__color_skyblue: #B4C6F4

$table__color_border: #2f343f
$table__color_hover: #efefef
$table__color_head: #2f343f
$table__color_head_text: #ededed

$breakpoint1: 1033px
$breakpoint2: 974px
$breakpoint3: 869px