@import "appearance"

$text__color: #bbb
$text__color_white: #fff
$text__color_accent: #B93B3B
$text__color_accentable: #F4AFAF
$text__color_clickable: #5a7dac
$text__color_link: #2f64af
$text__color_dark: #888
$text__color_blue: #77a
$text__color_head1: #346899
$text__color_head_post: #5a7dac

$code__color_background: #2f343f
$code__color_text: #c6c6c6

$background__color: #1f2333
$background__color_foreground: #394050
$background__color_dark: #394050
$border__color_grey: #778
$border__color_skyblue: #789

$table__color_border: #2f343f
$table__color_hover: #efefef
$table__color_head: #2f343f
$table__color_head_text: #ededed