.activity
  @extend %foreground-block
  display: block
  font-size: $text__size_base
  margin-bottom: .5rem
  &__head
    text-align: center
    margin-top: 1.5rem
    color: $text__color_clickable
    font-size: 2rem
    &_clickable
      @extend %left-hovered-link
      @extend %right-hovered-link
      &::before,&::after
        margin: 0 5px 0 10px
  &__entry
    padding: .5rem
    color: $text__color_dark

.activity__container
  grid-column: 9/13
  padding-left: 25px
  margin-top: -1.5rem
  &_sticky
    position: sticky
  .entry__container
    display: grid
    grid-template-columns: 1fr

@media screen and (max-width: $breakpoint1)
  .activity__head_clickable
    &::before, &::after
      margin: 0

@media screen and (max-width: $breakpoint3), (hover: none) and (pointer: coarse)
  .activity__container
    grid-row: 2/3
    grid-column: 1/13
    padding-left: 0
    .entry__container
      grid-template-columns: repeat(auto-fit, minmax(200px, .5fr))
  .activity
    &__head
      font-size: $text__size_big
      &_clickable
        padding: .5rem 1.5rem
    &__entry
      margin: .4rem
      padding-top: 2rem
      padding-bottom: 2rem
      text-align: center

@media (hover: none) and (pointer: coarse)
  .activity__container
    .entry__container .container_touch-uncollapsible
      grid-template-columns: 1fr
  .activity
    &__entry
      text-align: left
      font-size: $text__size_big