.activity
  @extend %foreground-block
  display: block
  font-size: $text__size_base
  margin-bottom: .5rem
  &__head
    text-align: center
    margin-top: 1.5rem
    color: $text__color_clickable
    font-size: 2rem
    &_clickable
      @extend %left-hovered-link
      @extend %right-hovered-link
      &::before,&::after
        margin: 0 5px 0 10px
  &__entry
    padding: .5rem
    color: $text__color_dark

.activity__container
  grid-column: 9/13
  padding-left: 25px
  margin-top: -1.5rem
  &_sticky
    position: sticky