.page
  &__container
    @extend %container
    display: grid
    position: relative
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(3, auto)
    padding: 75px 25px 0 25px
  &__description
    @extend %foreground-block
    text-align: center
    grid-column: 1/13
    margin-bottom: 15px
    font: $text__size_big "Roboto Condensed", sans-serif
    color: $text__color_clickable

@media screen and (max-width: $breakpoint2)
  .page__container
    padding: 75px 15px 0 15px
@media screen and (max-width: $breakpoint3)
  .page__container
    padding: 75px 0 0 0
@media (hover: none), (pointer: coarse)
  .page__container
    padding: 12rem 5px

