---
layout: default
---
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="{{site.webmaster-verifications.yandex}}" />
    <title>{{page.title}} | {{site.title}}</title>
    {%- seo -%}
    <link rel="stylesheet" href="/assets/styles/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    {%- include js-daynight-css.js -%}
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="alternate" href="{{site.url}}/feed.xml" type="application/xml" title="RSS">
    {%- include js-yandexcounter.js -%}
</head>
<body>
    {%- include header.html -%}
    <main class="page__container">
    {{content}}
    </main>
    {%- include footer.html -%}
</body>