---
layout: default
---
<head>
    <meta charset="UTF-8">
    <title>{{page.title}} | {{site.title}}</title>
    {%- seo -%}
    <link rel="stylesheet" href="/assets/styles/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    {%- include js-daynight-css.js -%}
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    {%- include js-yandexmetrica.js -%}
    {%- include js-yandexcounter.js -%}
</head>
<body>
<div>
    {%- include header.html -%}
    <div class="page__container">
    {{content}}
    </div>
</div>
    {%- include footer.html -%}
</body>