---
layout: page
---
<div class="post__container container_full-width">
    {%- if page.collection == "posts" -%}
        <div class="post">
            <div class="post__text">
                {{page.description}}
            </div>
        </div>
    {%- endif -%}
    <div class="post">
        <div class="post__text">
            {%- include header-table.html -%}
        </div>
    </div>
    <div class="post">
        <article class="post__text">
            {{content}}
        </article>
    </div>
    <div class="post">
        <div class="post__text">
            {%- assign len = page.tags | size -%}
            {%- if len > 0 -%}
            Опубликовано с тэгами:
            {%- for tag in page.tags -%}
            <a class="category-preview" href="{{site.url}}{{site.baseurl}}/categories/{{tag}}">{{tag}}</a>
            {%- endfor -%}
            {%- endif -%}
            <div class="post__text post__wantfix">
                <a href="{{site.editurl}}/{{page.path}}">Ты можешь исправить/дополнить этот материал</a>
            </div>
        </div>
    </div>
</div>